<div class="card-content">
    <div class="row">
        <div class="input-field col s4 right">
            <div class="search">
                <span><i class="material-icons prefix">search</i></span>
                <input id="pesquisar" name="pesquisar" maxlength="20" placeholder="Pesquisar">
            </div>
        </div>
        <div class="input-field col s4 right">
            <button class="btn custom-button"><i class="material-icons">add</i> ADICIONAR</button>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <div class="curso-descricao">
                <span>Paula Mayumi</span>
                <label>paula.konno@fabracorp.org.br</label>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-cargo">
                <div>Cargo:</div>
                <div>Assistente</div>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-cargo">
                <div>Empresa:</div>
                <div>Live University</div>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-btn center-align">
                <button class="btn-open">ABRIR</button>
                <button class="btn-remove">REMOVER</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <div class="curso-descricao">
                <span>Paula Mayumi</span>
                <label>paula.konno@fabracorp.org.br</label>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-cargo">
                <div>Cargo:</div>
                <div>Assistente</div>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-cargo">
                <div>Empresa:</div>
                <div>Live University</div>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-btn center-align">
                <button class="btn-open">ABRIR</button>
                <button class="btn-remove">REMOVER</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <div class="curso-descricao">
                <span>Paula Mayumi</span>
                <label>paula.konno@fabracorp.org.br</label>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-cargo">
                <div>Cargo:</div>
                <div>Assistente</div>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-cargo">
                <div>Empresa:</div>
                <div>Live University</div>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-btn center-align">
                <button class="btn-open">ABRIR</button>
                <button class="btn-remove">REMOVER</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <div class="curso-descricao">
                <span>Paula Mayumi</span>
                <label>paula.konno@fabracorp.org.br</label>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-cargo">
                <div>Cargo:</div>
                <div>Assistente</div>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-cargo">
                <div>Empresa:</div>
                <div>Live University</div>
            </div>
        </div>
        <div class="col s3">
            <div class="colab-btn center-align">
                <button class="btn-open">ABRIR</button>
                <button class="btn-remove">REMOVER</button>
            </div>
        </div>
    </div>



</div>