<nav>
    <div class="nav-wrapper grey lighten-3">
        <a href="#" class="brand-logo right">
            <div class="row">
                <div class="col s9 right-align">
                    <span class="nome">Ricardo Barato</span>
                    <span class="marca">Live University</span>
                </div>
                <div class="col s2">
                    <div class=photo></div>

                </div>
            </div>
        </a>
    </div>
</nav>
