<div id="menu">
    <ul id="slide-out" class="side-nav fixed">
        <li class="bg-logo-menu">
            <div class="bg-logo-menu-img">
                <img src="../public/img/logoLiveU.png" width="150px" class="bg-menu-img ">
            </div>
        </li>
        <li><a href="../employees"><i class="material-icons icons">group</i>Colaboradores</a></li>
        <li class="active"><a href="../courses"><i class="material-icons icons">developer_board</i>Cursos</a></li>
    </ul>
</div>